---
layout: homepage
---

<section>
    <h1>Mission Statement</h1>
    <p>The <a href="https://github.com/AV-CompSci-Mage/AV-CompSci-Mage.github.io" target="_blank">AWS Battleship Project</a>
    is my partner, Brad Childs', and I, Alyssa Vallejo's, final project for EEC 172, for the University of California Davis. This project
    uses Amazon Web Services (AWS) and enable a multi-player version of Battleship between two boards with CC3200 processors.</p>
</section>
<section>
    <h1>Latest Articles</h1>
    {% for post in site.posts limit: 5 %}
    {% include archive-item.html %}
    {% endfor %}
    <p class="sub-section"><a href="{{ '/archive' | absolute_url }}">Read More Articles &rarr;</a></p>
</section>