                                                                                                                                                         
                                                                                                                                                         
   ,---,                  .---.  .--.--.               ,---,.                ___      ___     ,--,                          ,---,                        
   '  .' \                /. ./| /  /    '.           ,'  .'  \             ,--.'|_  ,--.'|_ ,--.'|                        ,--.' |      ,--,   ,-.----.   
  /  ;    '.          .--'.  ' ;|  :  /`. /         ,---.' .' |             |  | :,' |  | :,'|  | :                        |  |  :    ,--.'|   \    /  \  
 :  :       \        /__./ \ : |;  |  |--`          |   |  |: |             :  : ' : :  : ' ::  : '               .--.--.  :  :  :    |  |,    |   :    | 
 :  |   /\   \   .--'.  '   \' .|  :  ;_            :   :  :  /  ,--.--.  .;__,'  /.;__,'  / |  ' |      ,---.   /  /    ' :  |  |,--.`--'_    |   | .\ : 
 |  :  ' ;.   : /___/ \ |    ' ' \  \    `.         :   |    ;  /       \ |  |   | |  |   |  '  | |     /     \ |  :  /`./ |  :  '   |,' ,'|   .   : |: | 
 |  |  ;/  \   \;   \  \;      :  `----.   \        |   :     \.--.  .-. |:__,'| : :__,'| :  |  | :    /    /  ||  :  ;_   |  |   /' :'  | |   |   |  \ : 
 '  :  | \  \ ,' \   ;  `      |  __ \  \  |        |   |   . | \__\/: . .  '  : |__ '  : |__'  : |__ .    ' / | \  \    `.'  :  | | ||  | :   |   : .  | 
 |  |  '  '--'    .   \    .\  ; /  /`--'  /        '   :  '; | ," .--.; |  |  | '.'||  | '.'|  | '.'|'   ;   /|  `----.   \  |  ' | :'  : |__ :     |`-' 
 |  :  :           \   \   ' \ |'--'.     /         |   |  | ; /  /  ,.  |  ;  :    ;;  :    ;  :    ;'   |  / | /  /`--'  /  :  :_:,'|  | '.'|:   : :    
 |  | ,'            :   '  |--"   `--'---'          |   :   / ;  :   .'   \ |  ,   / |  ,   /|  ,   / |   :    |'--'.     /|  | ,'    ;  :    ;|   | :    
 `--''               \   \ ;                        |   | ,'  |  ,     .-./  ---`-'   ---`-'  ---`-'   \   \  /   `--'---' `--''      |  ,   / `---'.|    
                      '---"                         `----'     `--`---'                                 `----'                         ---`-'    `---`