$$$$$$\  $$\      $$\  $$$$$$\        $$$$$$$\             $$\     $$\     $$\                     $$\       $$\           
$$  __$$\ $$ | $\  $$ |$$  __$$\       $$  __$$\            $$ |    $$ |    $$ |                    $$ |      \__|          
$$ /  $$ |$$ |$$$\ $$ |$$ /  \__|      $$ |  $$ | $$$$$$\ $$$$$$\ $$$$$$\   $$ | $$$$$$\   $$$$$$$\ $$$$$$$\  $$\  $$$$$$\  
$$$$$$$$ |$$ $$ $$\$$ |\$$$$$$\        $$$$$$$\ | \____$$\\_$$  _|\_$$  _|  $$ |$$  __$$\ $$  _____|$$  __$$\ $$ |$$  __$$\ 
$$  __$$ |$$$$  _$$$$ | \____$$\       $$  __$$\  $$$$$$$ | $$ |    $$ |    $$ |$$$$$$$$ |\$$$$$$\  $$ |  $$ |$$ |$$ /  $$ |
$$ |  $$ |$$$  / \$$$ |$$\   $$ |      $$ |  $$ |$$  __$$ | $$ |$$\ $$ |$$\ $$ |$$   ____| \____$$\ $$ |  $$ |$$ |$$ |  $$ |
$$ |  $$ |$$  /   \$$ |\$$$$$$  |      $$$$$$$  |\$$$$$$$ | \$$$$  |\$$$$  |$$ |\$$$$$$$\ $$$$$$$  |$$ |  $$ |$$ |$$$$$$$  |
\__|  \__|\__/     \__| \______/       \_______/  \_______|  \____/  \____/ \__| \_______|\_______/ \__|  \__|\__|$$  ____/ 
                                                                                                                  $$ |      
                                                                                                                  $$ |      
                                                                                                                  \__|